.navbar {
    list-style-type: none;
    margin: -5px 0 15px 0;
    padding: 2px;
    width: 100%;
    background-color: darkslategray;
}

.navbar li {
    display: inline-block;
    margin: 0 5px;
    padding: 6px 10px;
    cursor: pointer;
}

.navbar li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar li:hover {
    background-color: gray;
}